.container {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 20px;
}

.employee-table-container {
  width: 80%;
  margin: 0 auto;
  height: 300px;
  overflow-y: auto;
}

.employee-table {
  border-collapse: collapse;
  width: 100%;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.employee-table button {
  padding: 8px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 7;
}

.tablebutton {
  padding: 8px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
}

.employee-table button:hover {
  background-color: #d32f2f;
}

.employee-table thead {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
}

.label-input-group {
  margin-bottom: 10px;
}

.label-input-group label {
  margin-right: 10px;
}

.label-input-group input {
  padding: 8px;
  border-width: 0.5px;
}

h2 {
  color: red;
}
